//Partners
.content-single-partners {
  > article {
    padding: 104px 0;
  }
  header {
    margin-bottom: 24px;
  }
  .entry-content {
    div.content-left,
    div.content-right {
      width: 50%;
    }

    div.content-left {
      img {
        width: 100%;
      }
    }
    div.content-right {
      padding: 0 0px 24px 40px;

      ul.partner_metadata {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
          padding-bottom: 24px;
        }
      }
    }
  }

  .section-become_partner {
    background-color: #f2f2f6;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        margin-bottom: 24px;
      }
    }
  }
}
