.btn{
    display: inline-block;
    padding: 16px 80px;
    
    &:focus{
        outline: none;
        box-shadow: none;
    }

    &-primary{
        background: theme-color('secondary');

        &:hover{
            background: darken(theme-color('secondary'), 25%);
        }        
    }

}