@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  padding: 104px 0;

  &:first-child {
    padding: 0;
  }
}
